.list {
    background-color: #fff;
    box-shadow: -1px 1px 6px 3px #d3d0d0;;
}

.item {
    display: flex;
    align-items: center;
    gap: 10px;
    border-top:solid 1px #d3d0d0;
    padding: 10px;
}