.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -1px 10px 15px 3px #d3d0d0;
    border-radius: 10px;

    &>div{
        position: relative;
        z-index: 10;
    }
    &::before {
        content: "";
        position: absolute;
        bottom: -10px;
        width: 98%;
        height: 8px;
        background: #fff;
        border-bottom: 1px solid #d3d0d0;
        border-left: 1px solid #d3d0d0;
        border-right: 1px solid #d3d0d0;
        z-index: 2;
    }
    &::after {
        content: "";
        position: absolute;
        bottom: -15px;
        width: 93%;
        height: 8px;
        background: #fff;
        border-bottom: 1px solid #d3d0d0;
        border-left: 1px solid #d3d0d0;
        border-right: 1px solid #d3d0d0;
        z-index: 1;
    }
}